USE [master]
GO
/****** Object:  Database [DEALERSHIPS]    Script Date: 4/11/2018 10:52:41 PM ******/
CREATE DATABASE [DEALERSHIPS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DEALERSHIPS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DEALERSHIPS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DEALERSHIPS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DEALERSHIPS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DEALERSHIPS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DEALERSHIPS]
GO
USE [DEALERSHIPS]
GO
/****** Object:  Table [dbo].[CarData]    Script Date: 4/11/2018 10:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Make] [nvarchar](10) NULL,
	[Model] [nvarchar](10) NULL,
	[Year] [nvarchar](10) NULL,
 CONSTRAINT [PK_CarData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARS]    Script Date: 4/11/2018 10:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Color] [nvarchar](10) NULL,
	[VinNumber] [nvarchar](50) NULL,
	[DateAdded] [date] NULL,
	[IsAvailable] [bit] NULL,
	[MilesDriven] [decimal](18, 0) NULL,
	[LeaseId] [int] NULL,
	[CarDataId] [int] NULL,
 CONSTRAINT [PK_CARS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 4/11/2018 10:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[LeaseId] [int] NOT NULL,
 CONSTRAINT [PK_Contracts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 4/11/2018 10:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[IsFavored] [bit] NULL,
 CONSTRAINT [PK_CUSTOMERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEASES]    Script Date: 4/11/2018 10:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEASES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExpirationDate] [date] NULL,
	[TotalCost] [money] NULL,
	[DownPayment] [money] NULL,
	[CostPerMonth] [money] NULL,
 CONSTRAINT [PK_LEASES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CARS]  WITH CHECK ADD  CONSTRAINT [FK_CARS_CarData] FOREIGN KEY([CarDataId])
REFERENCES [dbo].[CarData] ([ID])
GO
ALTER TABLE [dbo].[CARS] CHECK CONSTRAINT [FK_CARS_CarData]
GO
ALTER TABLE [dbo].[CARS]  WITH CHECK ADD  CONSTRAINT [FK_CARS_LEASES] FOREIGN KEY([LeaseId])
REFERENCES [dbo].[LEASES] ([ID])
GO
ALTER TABLE [dbo].[CARS] CHECK CONSTRAINT [FK_CARS_LEASES]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_CUSTOMERS] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[CUSTOMERS] ([ID])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_CUSTOMERS]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_LEASES] FOREIGN KEY([LeaseId])
REFERENCES [dbo].[LEASES] ([ID])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_LEASES]
GO
USE [master]
GO
